---
//toda la logica js va aqui en la parte superior
//JS
let hello = "Hola Mundo";
---

<div>
	<h1>{hello} bienvenido a mi primera pagina web con astro</h1>
</div>

<!--Los estilos son solo para el mismo documento-->
<style>
h1{
	color: green;
	font-size: 20px;
}
</style>